openapi: 3.1.0
info:
  title: GateOS Ticketing & Access Control API Specification
  description: Tài liệu đặc tả API First Design tinh gọn phù hợp với Database Schema thực tập.
  version: 1.0.0
servers:
  - url: https://gateos.com/api/v1
    description: Production Server
  - url: http://localhost:8080/api/v1
    description: Local Development Server

security:
  - BearerAuth: []

paths:
  # ==========================================
  # 1. Authentication Module
  # ==========================================
  /auth/login:
    post:
      summary: Đăng nhập hệ thống lấy JWT Token
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Đăng nhập thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Sai thông tin đăng nhập
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /auth/logout:
    post:
      summary: Đăng xuất khỏi hệ thống
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '204':
          description: Đăng xuất thành công (No Content)
        '401':
          description: Token không hợp lệ

  /auth/refresh-token:
    post:
      summary: Làm mới Access Token
      tags:
        - Authentication
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Cấp mới Access Token thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Refresh Token hết hạn hoặc không hợp lệ

  /auth/me:
    get:
      summary: Lấy thông tin tài khoản đang đăng nhập (Staff / Customer)
      tags:
        - Authentication
      responses:
        '200':
          description: Trả về thông tin chi tiết user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDto'

  # ==========================================
  # 2. Venue Module
  # ==========================================
  /venues:
    get:
      summary: Lấy danh sách địa điểm (Venues)
      tags:
        - Venue
      security: []
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          required: false
          schema:
            type: integer
            enum: [0, 1]
            description: "1: Đang hoạt động, 0: Đóng cửa"
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      $ref: '#/components/schemas/Venue'
                  totalElements:
                    type: integer
                  totalPages:
                    type: integer

    post:
      summary: Tạo mới một địa điểm
      tags:
        - Venue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VenueRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue'

  /venues/{id}:
    get:
      summary: Lấy chi tiết địa điểm bằng ID
      tags:
        - Venue
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue'
        '404':
          description: Không tìm thấy địa điểm

    put:
      summary: Cập nhật thông tin địa điểm
      tags:
        - Venue
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VenueRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Venue'

    delete:
      summary: Vô hiệu hóa hoạt động của địa điểm (Xóa mềm)
      tags:
        - Venue
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Xóa mềm thành công (đổi status thành 0)

  # ==========================================
  # 3. Attraction Module
  # ==========================================
  /venues/{id}/attractions:
    get:
      summary: Danh sách trò chơi thuộc địa điểm cụ thể
      tags:
        - Attraction
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Attraction'

  /attractions:
    post:
      summary: Thêm trò chơi mới vào địa điểm
      tags:
        - Attraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttractionRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attraction'

  /attractions/{id}:
    get:
      summary: Xem chi tiết một trò chơi
      tags:
        - Attraction
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attraction'

    put:
      summary: Sửa thông tin trò chơi
      tags:
        - Attraction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttractionRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attraction'

    delete:
      summary: Xóa trò chơi
      tags:
        - Attraction
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Xóa thành công

  # ==========================================
  # 4. Ticket Type Module
  # ==========================================
  /venues/{id}/ticket-types:
    get:
      summary: Lấy danh sách loại vé của một Venue
      tags:
        - Ticket Type
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketType'

  /ticket-types:
    post:
      summary: Tạo mới loại vé cho địa điểm
      tags:
        - Ticket Type
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketTypeRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketType'

  /ticket-types/{id}:
    put:
      summary: Cập nhật loại vé
      tags:
        - Ticket Type
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketTypeRequest'
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketType'

    delete:
      summary: Xóa loại vé
      tags:
        - Ticket Type
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '204':
          description: Thành công

  # ==========================================
  # 5. Orders (Ticketing) Module
  # ==========================================
  /orders:
    post:
      summary: Khởi tạo hóa đơn đặt vé
      tags:
        - Ticketing
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Yêu cầu không hợp lệ

  /orders/{id}:
    get:
      summary: Lấy chi tiết đơn đặt vé
      tags:
        - Ticketing
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

  /orders/{id}/cancel:
    post:
      summary: Khách hàng/Thu ngân hủy hóa đơn PENDING
      tags:
        - Ticketing
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Hủy đơn hàng thành công

  # ==========================================
  # 6. Payment Module
  # ==========================================
  /payments/create:
    post:
      summary: Tạo liên kết thanh toán QR Code
      tags:
        - Payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - paymentMethod
              properties:
                orderId:
                  type: integer
                  format: int32
                paymentMethod:
                  type: string
                  enum: [CHUYEN_KHOAN_QR, TIEN_MAT]
      responses:
        '201':
          description: Thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    format: int32
                  paymentUrl:
                    type: string
                    format: uri

  /payments/status/{orderId}:
    get:
      summary: Kiểm tra trạng thái thanh toán của hóa đơn
      tags:
        - Payment
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Trả về trạng thái thanh toán hiện tại
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                    format: int32
                  status:
                    type: integer
                    enum: [0, 1, 2]
                    description: "0: Chờ thanh toán, 1: Đã thanh toán, 2: Đã hủy"

  # ==========================================
  # 7. Customer Wallet Module
  # ==========================================
  /customers/me/tickets:
    get:
      summary: Xem danh sách vé điện tử đang sở hữu
      tags:
        - Customer Wallet
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TicketDto'

  /tickets/{id}/qr:
    get:
      summary: Lấy luồng ảnh mã QR code bảo mật dựa trên chuỗi qr_code
      tags:
        - Customer Wallet
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Luồng nhị phân ảnh QR
          content:
            image/png:
              schema:
                type: string
                format: binary

  # ==========================================
  # 8. Access Control (Check-in) Module
  # ==========================================
  /check-in/scan:
    post:
      summary: Quét mã QR soát vé tại cổng trò chơi
      tags:
        - Access Control
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanRequest'
      responses:
        '200':
          description: Thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanResponse'

  # ==========================================
  # 10. AI Chatbot Module
  # ==========================================
  /ai/chat:
    post:
      summary: Tương tác với trợ lý AI Chatbot
      tags:
        - AI Chatbot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                conversationId:
                  type: string
      responses:
        '200':
          description: Phản hồi từ chatbot RAG

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string

    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        tokenType:
          type: string
        expiresIn:
          type: integer

    ProblemDetails:
      type: object
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        errorCode:
          type: string
        timestamp:
          type: string
          format: date-time

    UserDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        username:
          type: string
        fullName:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [ADMIN, NHAN_VIEN]
        venueId:
          type: integer
          format: int32

    Venue:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        address:
          type: string
        status:
          type: integer
          enum: [0, 1]
          description: "1: Đang hoạt động, 0: Đóng cửa"

    VenueRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        address:
          type: string
        status:
          type: integer
          enum: [0, 1]
          default: 1

    Attraction:
      type: object
      properties:
        id:
          type: integer
          format: int32
        venueId:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        capacity:
          type: integer
          format: int32

    AttractionRequest:
      type: object
      required:
        - venueId
        - name
      properties:
        venueId:
          type: integer
          format: int32
        name:
          type: string
        description:
          type: string
        capacity:
          type: integer
          format: int32

    TicketType:
      type: object
      properties:
        id:
          type: integer
          format: int32
        venueId:
          type: integer
          format: int32
        name:
          type: string
        price:
          type: number
          format: double

    TicketTypeRequest:
      type: object
      required:
        - venueId
        - name
        - price
      properties:
        venueId:
          type: integer
          format: int32
        name:
          type: string
        price:
          type: number
          format: double

    OrderRequest:
      type: object
      required:
        - customerId
        - venueId
        - items
      properties:
        customerId:
          type: integer
          format: int32
        venueId:
          type: integer
          format: int32
        items:
          type: array
          items:
            type: object
            required:
              - ticketTypeId
              - quantity
            properties:
              ticketTypeId:
                type: integer
                format: int32
              quantity:
                type: integer

    OrderResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        venueId:
          type: integer
          format: int32
        totalAmount:
          type: number
          format: double
        paymentMethod:
          type: string
        status:
          type: integer
          enum: [0, 1, 2]
          description: "0: Chờ thanh toán, 1: Đã thanh toán, 2: Đã hủy"
        createdAt:
          type: string
          format: date-time

    TicketDto:
      type: object
      properties:
        id:
          type: integer
          format: int32
        orderId:
          type: integer
          format: int32
        ticketTypeId:
          type: integer
          format: int32
        customerId:
          type: integer
          format: int32
        qrCode:
          type: string
        status:
          type: integer
          enum: [0, 1, 2]
          description: "0: Chưa sử dụng, 1: Đã sử dụng, 2: Hết hạn"

    ScanRequest:
      type: object
      required:
        - qrCode
        - attractionId
      properties:
        qrCode:
          type: string
        attractionId:
          type: integer
          format: int32

    ScanResponse:
      type: object
      properties:
        id:
          type: integer
          format: int32
        ticketId:
          type: integer
          format: int32
        attractionId:
          type: integer
          format: int32
        checkInTime:
          type: string
          format: date-time
        status:
          type: string
          description: "VD: 'THANH_CONG', 'VE_HET_HAN', 'SAI_DIA_DIEM'"
